// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  text-align: center;
}

.restaurant{
  min-height: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.restaurant div{
  display: inline-block;
}

.restaurant a{
	background-color: #666666;
  border-radius: 4px;
  padding: 3px;
  color: white;
  text-decoration: none;
}

.restaurant a:hover{
  text-decoration: underline;
}

.restaurant .name{
  width: 200px;
  background-color:#e6e6e6;
  text-align: left;
  padding-left: 5px;
}

#add-restaurant a{
  background-color: #408000;
  border-radius: 4px;
  padding: 3px;
  color: white;
  text-decoration: none;
}

#add-restaurant a:hover{
  text-decoration: underline;
}
